body{
  font-family: "Avenir Next";
}
.top-img{
  width: 100%;
}

h1{
  font-style: italic;
  font-size: 24px;
  color: #e32c8a;
  letter-spacing: 6px;
  @media screen and (max-width:480px) {
    font-size: 12px;
  }
  span{
    border-bottom: 3px solid #e32c8a;
  }
}

h2{
  font-size: 24px;
  font-style: italic;
  color: #e32c8a;
  letter-spacing: 6px;
  @media screen and (max-width:480px) {
    font-size: 12px;
    margin-top: 40px;
  }
  span{
    border-bottom: 3px solid #e32c8a;
  }
}

/* コンテンツ部分 */
.container{
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width:480px) {
      .container{
        margin: 0 auto;
        width: 98%;
      }

    }

/* Top icon */
.top-icon {
  display: flex;
  justify-content: center;
}
.dl-icon-apple{
  width: 100px;
  margin: 0 10px;
}
.dl-icon-google{
  width: 120px;
  height: 37px;
  margin: 0 10px;
}

/*  Popdish とは */
.about{
  text-align: center;
    margin-top: 80px;
    @media screen and (max-width:480px) {
          margin: 10px 0;
        }
        .contents {
          margin-top: 40px;
          width: 100%;
          @media screen and (max-width:480px) {
                margin-top: 10px;
              }
    }
    p{
      font-family: "Avenir Next";
        @media screen and (max-width:600px) {
font-size: 11px;
        }
    }
}

/*  Popdish で何ができるの */
.why-popdish{
  text-align: center;
  margin-top: 80px;
      @media screen and (max-width:480px) {
          margin: 10px 0;
        }
  .img-row{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
      @media screen and (max-width:480px) {
          margin-top: 10px;
        }
    div{
      width: 23%;
      img{
        width: 100%;
      }
      p{
        font-size:12px;
        text-align: center;
        font-weight: bold;
        padding-left: 10px;
          @media screen and (max-width:600px) {
              font-size: 9px;
            }
      }
    }
  }
  .mov-row {
    display: flex;
    justify-content: space-between;
    }
  .mov-col{
    display: flex;
    flex-direction: column;
    width: 20%;
    img{
      width: 100%;
    }
    video{
      width: 100%;
    }
  }
  @media screen and (max-width:480px) {
    .mov-row{
      display: flex;
      flex-direction: column;
      img{
        width: 50%;
      }
      video{
        width: 100%;
      }
    }
    .mov-col{
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align:center;
      img{
        width: 50%;
          margin: 0 auto;
          margin-top: 10px;
      }
      video{
        width: 100%;
      }
    }
  }
}

.genre{
  text-align: center;
  margin-top: 80px;
  @media screen and (max-width:480px) {
    margin: 10px 0;
  }
  .contents {
    margin-top: 40px;
    width: 100%;
      @media screen and (max-width:480px) {
          margin-top: 10px;
        }
    .row{
      display: flex;
      justify-content: space-between;
      .genre-div{
        width: 18%;
        text-align: center;
      }
    }
  }

}

.can {
  text-align: center;
  margin-top: 80px;
  @media screen and (max-width:480px) {
    margin: 10px 0;
  }
  .contents {
    margin-top: 40px;
    width: 100%;
      @media screen and (max-width:480px) {
          margin-top: 10px;
        }
  }
}

.news {
  margin-top: 80px;
  text-align: center;
  @media screen and (max-width:480px) {
    margin: 10px 0;
  }
  .contents {
    margin-top: 40px;
    width: 100%;
  }

  li{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    @media screen and (max-width:480px) {
      font-size: 10px;
    }
  }
}

.contact{
  text-align: center;
  margin-top: 80px;
      @media screen and (max-width:480px) {
          margin: 10px 0;
        }
  .contents {
    margin-top: 40px;
    width: 80%;
      @media screen and (max-width:480px) {
          margin-top: 10px;
        }
  }
    .contact-input {
      width: 80%;
      padding: 40px 0;
        margin: 0 auto;
          @media screen and (max-width:480px) {
              padding-top: 10px;
            }
      p{
        margin: 0;
        text-align: left;
        span{
          color: rgb(207, 33, 202);
        }
      }
      textarea{
        width: 100%;
      }
      input {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  .button{
    margin-top: 10px;
    width: 20%;
  }
}

.bottom{
  position: relative;
  width: 100%;
  font-size: 10px;
  .bottom-bg{
    width: 100%;
  }
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-align:center;
    a{
      color: white;
      padding: 0 10px;
    }
    p{
      color: white;
      margin: 0;
      margin-top: 10px;
    }
  }
}

  /* Top icon */
  .bottom-icon {
    display: flex;
    justify-content: center;
  }
  .bottom-bg{
    width: 100%;
}
